[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
langchain = "*"
pinecone-client = "*"
python-dotenv = "*"
openai = "*"
tiktoken = "*"
streamlit = "*"
typing = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.9"
